<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence v3.0</a>, except where otherwise stated</p>