<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Civil Service volunteering
            </a>
        </div>

        <ul class="nav nav-tabs">
            <li><a href="/" role="presentation" class="active">Home</a></li>
            <li><a href="/" role="presentation">About us</a></li>
            <li><a href="/" role="presentation">Contact</a></li>
        </ul>

    </div>
</nav>