<!-- Partial for displaying results -->

<div class="well well-lg">
	<div class="row">
		<div class="col-md-10">
	    	<h3 class="panel-title">Paint a fence</h3>
	    	<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><span class="sr-only">Location:</span> Bristol</p>
	    </div>
	    <div class="col-md-3">
	    	<img src="/images/140X140.svg" alt="Image placeholder" class="img-thumbnail">
	    </div>
	    <div class="col-md-9">
		    <p>
		    There is a great opportunity to help out the elderly, by painting their fences.<br><br>

		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor nisi mollis ipsum congue posuere. Mauris maximus eros sed dui venenatis posuere.
		    </p>
	    </div>
    </div>
</div>