<!-- Partial for displaying results -->

<div class="well well-lg">
    <h3 class="panel-title">Paint a fence</h3>
    <p>
    There is a great opportunity to help out the elderly, by painting their fences.
    </p>
</div>