<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
    	<% include partials/header %>
    </header>
    <main>
      <div class="jumbotron container-fluid">
      <h1 class="text-center">Volunteer today</h1>
        <p class="text-center">The greatest gift you can give someone is your time.</p>
      </div>
      <div class="container">
      <div class="row">
      <div class="col-md-6">
      <div class="page-header ">
        <h2>Opportunities</h2>

            <form>
                <label>Search by location</label> 
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
            </form>


      </div>
      </div>
      </div>
      </div>
    </main>
    <footer>
    	<% include partials/footer %>
    </footer>
  </body>
</html>
