.navbar {
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.on--it {
	border: 1px solid #28A197;
	border-radius: 0.3em;
	}

.on--it:hover {
	border: 1px solid #ffffff;
}



.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
	background-color: #28A197;
	border-radius: 0.3em;
}

.navbar-default .navbar-nav>li {
	margin: 0 10px;
}